.git
.gitignore
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
database/database.sqlite
auth.json
Dockerfile
.dockerignore
*.md
ESCOPO_PROJETO_QUIZ_LARAVEL.md
.phpunit.result.cache
tests
.editorconfig
.fleet
ONBOARDING.md
