@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Branding do Empreende Brazil 2026 */
    --color-brand-50: #eef6ff;
    --color-brand-100: #d9eaff;
    --color-brand-200: #bcd9ff;
    --color-brand-300: #8ec0ff;
    --color-brand-400: #599cff;
    --color-brand-500: #3375ff;
    --color-brand-600: #1d54f5;
    --color-brand-700: #163fe1;
    --color-brand-800: #1834b6;
    --color-brand-900: #19318f;
}
